/* dropdown */

.my-dropdown {
  position: relative;
  top:80;
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .box {
    position: relative;
}
.box .text {
    position: absolute;
    z-index: 999;     
    text-align: center;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    background: #110E0C;
    font-family: Arial,sans-serif;
    color: #fff;
    width: 86%; /* Set the width of the positioned div */
    height: 20%;
}
#menu * { 
  padding:0; 
  margin: 0; 
  font: 12px georgia; 
  list-style-type:none;

}
#menu { 
  /* margin-top: 300px; */
  float: left;
  line-height: 10px; 
  left: 200px;}
#menu a { 
  display: block; 
  text-decoration: none; 
  color: #fff;
}
#menu a:hover { background: #B0BD97;}
#menu ul li ul li a:hover { 
  background: #ECF1E7; 
  padding-left:9px;
  border-left: solid 1px #000;}
#menu ul li ul li {
  opacity: 1;
  width: 220px; 
  border: none; 
  color: #B0BD97;  
  padding-top: 3px; 
  padding-bottom:3px; 
  padding-left: 3px; 
  padding-right: 3px; 
  /* background: #B0BD97; */
}
#menu ul li ul li a { 
  font: 11px arial; 
  font-weight:normal; 
  font-variant: small-caps; 
  padding-top:3px; 
  padding-bottom:3px;}
#menu ul li {
  float: left; 
  width: 232px;
  padding: 4px; 
  font-weight: bold; 
  border-top: solid 1px #283923; 
  border-bottom: solid 1px #283923; 
  background: #Fff;}
#menu ul li a { 
  font-weight: bold;
  padding: 15px 10px;}
#menu li{ 
  position:relative; 
  float:left;}
#menu ul li ul, #menu:hover ul li ul, #menu:hover ul li:hover ul li ul{ 
  display:none;
  list-style-type:none; 
  width: 140px;}
#menu:hover ul, #menu:hover ul li:hover ul, #menu:hover ul li:hover ul li:hover ul { 
  display:block;}
#menu:hover ul li:hover ul li:hover ul { 
  position: absolute;
  margin-left: 145px;
  margin-top: -22px;
  font: 10px;}
#menu:hover ul li:hover ul { 
  position: absolute;
  margin-top: 1px;
  font: 10px;
  bottom:100%;
}



/* overlap div */
#overlay1 {
  width: 100%;
  height: 100%;
  position: absolute;
  color: red;
  font-size: 40px;
  z-index: 1;
  top: 25px;
  left:75px;
}